<div id="main">
  <%= link_to "< Back to Principles", principles_path, :class => 'criterion_back' if false %>

  <% if @criterion.principle.number == 0 %>
    <h2><%= link_to "General Resources for All Principles", principles_path(:principle => 0)%></h2>
  <% else %>
    <h2><%= link_to "Principle #{@criterion.principle.number}", principles_path({:principle => @criterion.principle.number }) %></h2>
    <p><%= @criterion.principle.description unless @criterion.principle.description.nil?%></p>
    <h1>Criterion <%= @criterion.number %></h1>
    <p><%= @criterion.description %></p>
    <p><strong>Resources:</strong></p>
  <% end %>
  <!-- content -->
  <div id="content">
    <ul class="topic-list">
      <%
        @resource_links.each do |resource_link|
          resource = resource_link.resource
      %>
        <li>
          <h4><%= resource.title %></h4>
          <span class="authors">
            <% if resource.author.present? %><span>Authors:</span> <%= resource.author %><% else %>&nbsp;<% end %>
          </span>
          <div class="resource-underbar">
            <ul class="item-list">
              <% if resource.resource_date.present? %><li>Publication date: <span><%= resource.resource_date.present? ? resource.resource_date : ' ' %></span></li><% end %>
              <% if resource.institution.present? %><li>Institution: <span><%= resource.institution.present? ? resource.institution : ' ' %></span></li><% end %>
            </ul>
            <ul class="ico-list">
              <% if resource.made_by_un_redd? %>
                <li><span class="un-redd">UN-REDD</span></li>
              <% end %>
              <% type = resource.resource_type.try(:name).to_s.downcase %>
              <% if ['guidance','tool'].include?(type) %>
                <li><span class="<%= type %>"></span></li>
              <% end %>
            </ul>
          </div>
          <div class="section">
            <p>
              <%= resource.description %>
            </p>
            <p>
              <% if resource_link.numeric_reference.present? %>
                <strong><%= resource_link.numeric_reference %></strong>:
              <% end %>
              <%= resource_link.reference %>
            </p>
            <div class="row">
              <%= link_to "Download", resource_link.resource.link, :class => "download" %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
    <% if @criterion.principle.number == 0 %>
      <%= link_to "< Back to all principles", principles_path(:principle => 0)%>
    <% else %>
      <%= link_to "< Back to Principle #{@criterion.principle.number}", principles_path({:principle => @criterion.principle.number }) %>
    <% end %>
</div>
