<div id="main">
  <%= link_to "< Back to Principles", principles_path, :class => 'criterion_back' if false %>

  <h1>Criterion <%= @criterion.number %></h1>
  <p><%= @criterion.description%></p>
  <p><strong>Resources:</strong></p>
  <!-- content -->
  <div id="content">
    <ul class="topic-list">
      <%
        @resource_links.each do |resource_link|
          resource = resource_link.resource
      %>
        <li>
          <h4><%= resource.title %></h4>
          <span class="authors"><span>Authors:</span> <%= resource.author %></span>
          <ul class="item-list">
            <li>Publication date: <span><%= resource.resource_date %></span></li>
            <li>Institution: <span><%= resource.institution.present? ? resource.institution : ' ' %></span></li>
          </ul>
          <div class="section">
            <p><strong><%= resource_link.numeric_reference %></strong>: <%= resource_link.reference %></p>
            <div class="row">
              <ul class="ico-list">
                <li><a class="un-reed" href="#">un-redd</a></li>
                <% type = resource.resource_type.try(:name) %>
                <% if ['guidance','tool'].include?(type) %>
                  <li><a class="<%= type %>" href="#"><%= type %></a></li>
                <% end %>
              </ul>
              <%= link_to "Download", resource_link.resource.link, :class => "download" %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
