<% content_for :main do %>
  <h1 class="header"><%= t('site.static.assessment.header') %></h1>
  <article class="image no-round">
    <div class="with-caption">
      <%= image_tag "waterfall.jpg", :retina => true %>
      <span>Credit: Terry Christoforus</span>
    </div>
    <%= t('site.static.assessment.intro.html') %>
  </article>

  <h1 class="header"><%= t('site.static.assessment.decisions.header') %></h1>
  <article>
    <%= t('site.static.assessment.decisions.html') %>
  </article>
<% end %>

<% content_for :sidebar do %>
  <h2 class="header"><%= t('site.sidebar.key_resources.header') %></h2>
    <article class="margin-bottom">
      <ul>
        <li><%= t('site.sidebar.key_resources.item_13.html') %></li>
        <li><%= t('site.sidebar.key_resources.item_14.html') %></li>
        <li><%= t('site.sidebar.key_resources.item_15.html') %></li>
        <li><%= t('site.sidebar.key_resources.item_16.html') %></li>
        <li><%= t('site.sidebar.key_resources.item_17.html') %></li>
        <!-- Uncomment when the links are available
        <li><%= t('site.sidebar.key_resources.item_18.html') %></li>
        <li><%= t('site.sidebar.key_resources.item_19.html') %></li>
        -->
      </ul>
    </article>
	  <%= render :partial => '/shared/links_sidebar' %>
<% end %>

