<% content_for :main do %>
<h1 class="header"><%= t('site.static.assessment.header') %></h1>
  <article>
    <%= t('site.static.assessment.content.html') %>
  </article>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => '/shared/links_sidebar' %>
  <h2 class="header margin-top"><%= t('site.sidebar.key_resources.header') %></h2>
    <article>
      <ul>
        <li><%= t('site.sidebar.key_resources.item_13.html') %></li>
        <li><%= t('site.sidebar.key_resources.item_14.html') %></li>
        <li><%= t('site.sidebar.key_resources.item_15.html') %></li>
        <li><%= t('site.sidebar.key_resources.item_16.html') %></li>
        <li><%= t('site.sidebar.key_resources.item_17.html') %></li>
        <!-- Uncomment when the links are available
        <li><%= t('site.sidebar.key_resources.item_18.html') %></li>
        <li><%= t('site.sidebar.key_resources.item_19.html') %></li>
        -->
      </ul>
    </article>
<% end %>

