<% content_for :main do %>
  <h1 class="header">Decision support on biodiversity and ecosystem services in REDD+</h1>
  <article>
    <p>
    REDD+ has the potential to deliver multiple benefits including climate mitigation, biodiversity conservation and ecosystem services. However countries face complex challenges in balancing different possible objectives for REDD+ and careful planning is required to mitigate and enhance benefits.
    </p>

    <p>
    This website provides a guide to tools and resources that can help to ensure that environmental risks and opportunities are taken account in decision making. The guide includes searchable directory of tools and resources which can assist in planning for multiple benefits.
    </p>
    <p>
    The website is targeted at national REDD+ planners and their technical advisors who are seeking to integrate multiple benefits into their strategies and promote and support the <%= link_to 'Cancun safeguards', '' %>. The guide is split into three core themes:

    <ol>
      <li><%= link_to 'Applying REDD+ safeguards', safeguards_path %></li>
      <li><%= link_to 'Indemnification mapping and valuation of multiple benefits', mapping_path %></li>
      <li><%= link_to 'Monitoring REDD+ Impacts', monitoring_path %></li>
    </ol>
    </p>
    <p>
    Should you have any further questions on REDD+ multiple benefits not answered by this site or have problems using the tools and resources within it, please email <%= mail_to 'safeguards@unep-wcmc.org' %> This email needs to be replaced with someone's email or CCB.
    </p>
  </article>
<% end %>

<% content_for :sidebar do %>
   <%= render :partial => '/shared/sidebar' %>  
<% end %>