<% content_for :main do %>
  <h1 class="header"><%= t('site.static.home.header') %></h1>
  <article class="image no-round">
    <div class="with-caption">
      <%= image_tag "forest.jpg", :retina => true %>
      <span>Credit: Shutterstock</span>
    </div>
    <%= t('site.static.home.intro.html') %>
  </article>

  <div class="group">
    <div class="col countries-at-a-glance" style="height:1735px">
      <h1 class="header"><%= t('site.static.home.countries.header') %></h1>
      <%= t('site.static.home.countries.intro.html') %>
      <%= image_tag "map.jpg" %>

      <h4><%= t('site.static.home.countries.list.africa.header') %></h4>
      <div class="with-caption">
        <%= image_tag "bird_uganda.jpg", :retina => true %>
        <span>Credit: Monika Bertzky</span>
      </div>
      <%= t('site.static.home.countries.list.africa.html') %>

      <h4><%= t('site.static.home.countries.list.asia.header') %></h4>
      <div class="with-caption">
        <%= image_tag "waterfall_asia.jpg", :retina => true %>
        <span>Credit: Shutterstock</span>
      </div>
      <%= t('site.static.home.countries.list.asia.html') %>

      <h4><%= t('site.static.home.countries.list.latin_america.header') %></h4>
      <div class="with-caption">
        <%= image_tag "flowers_ecuador.jpg", :retina => true %>
        <span>Credit: Monika Bertzky</span>
      </div>
      <%= t('site.static.home.countries.list.latin_america.html') %>
    </div>

    <div class="col" style="height: 1735px;">
      <h1 class="header"><%= t('site.static.home.biodiversity.header') %></h1>
      <div class="with-caption">
        <%= image_tag "banana_tree.jpg", :retina => true %>
        <span>Credit: Simone Voigt</span>
      </div>
      <%= t('site.static.home.biodiversity.html') %>
    </div>
  </div>
<% end %>

<% content_for :sidebar do %>
   <%= render :partial => '/shared/links_sidebar' %>
   <h2 class="header margin-top"><%= t('site.sidebar.key_resources.header') %></h2>
    <article>
      <ul>
        <li><%= t('site.sidebar.key_resources.item_1.html') %></li>
        <li><%= t('site.sidebar.key_resources.item_2.html') %></li>
        <li><%= t('site.sidebar.key_resources.item_3.html') %></li>
      </ul>
    </article>
   <%= render :partial => '/shared/faq_sidebar' %>
<% end %>
