<% content_for :main do %>
  <h1 class="header"><%= t('site.static.monitoring.header') %></h1>
  <article class="image no-round">
    <div class="with-caption">
      <%= image_tag "coffee_plantation.jpg", :retina => true %>
      <span>Credit: Shutterstock</span>
    </div>
    <%= t('site.static.monitoring.content.html') %>
  </article>
<% end %>

<% content_for :sidebar do %>
   <h2 class="header"><%= t('site.sidebar.key_resources.header') %></h2>
    <article class="margin-bottom">
      <ul>
        <li><%= t('site.sidebar.key_resources.item_24.html') %></li>
        <li><%= t('site.sidebar.key_resources.item_20.html') %></li>
        <li><%= t('site.sidebar.key_resources.item_21.html') %></li>
        <li><%= t('site.sidebar.key_resources.item_22.html') %></li>
      </ul>
    </article>
	   <%= render :partial => '/shared/links_sidebar' %>
<% end %>
