<% content_for :main do %>
  <h1 class="header"><%= t('site.static.safeguards.header') %></h1>
  <article>
    <%= t('site.static.safeguards.content.html') %>
  </article>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => '/shared/links_sidebar' %>
  <h2 class="header margin-top"><%= t('site.sidebar.key_resources.header') %></h2>
    <article>
      <ul>
        <li><%= t('site.sidebar.key_resources.item_4.html') %></li>
        <li><%= t('site.sidebar.key_resources.item_5.html') %></li>
        <li><%= t('site.sidebar.key_resources.item_6.html') %></li>
        <li><%= t('site.sidebar.key_resources.item_7.html') %></li>
        <li><%= t('site.sidebar.key_resources.item_8.html') %></li>
        <li><%= t('site.sidebar.key_resources.item_9.html') %></li>
        <li><%= t('site.sidebar.key_resources.item_10.html') %></li>
        <li><%= t('site.sidebar.key_resources.item_11.html') %></li>
        <li><%= t('site.sidebar.key_resources.item_12.html') %></li>
      </ul>
    </article>
<% end %>

