<% content_for :main do %>
  <h1 class="header"><%= t('site.static.safeguards.header') %></h1>
  <article class="image">
    <%= image_tag "localcommunity.jpg" %>
  </article>

  <div class="group">
    <div class="col">
      <h1 class="header"><%= t('site.static.safeguards.content.sepc_box.title') %></h1>
      <%= t('site.static.safeguards.content.sepc_box.html') %>
    </div>
    <div class="col">
      <h1 class="header"><%= t('site.static.safeguards.content.cancun_box.title') %></h1>
      <%= t('site.static.safeguards.content.cancun_box.html') %>
    </div>
  </div>

  <div class="clearfix"></div>

  <h1 class="header"><%= t('site.static.safeguards.content.national_approach.title') %></h1>
  <article>
    <p>
      <div class="image pull-right">
        <%= image_tag 'safeguards_diagram.png' %>
        <%= t('site.static.safeguards.content.national_approach.diagram_caption') %>
      </div>
      <%= t('site.static.safeguards.content.national_approach.para1') %>

      <h3>The UN-REDD Programme provides support on the two key components of national approaches to safeguards:</h3>

      <div class="image pull-left">
        <strong><%= t('site.static.safeguards.content.national_approach.plr_caption') %></strong>
        <%= image_tag 'http://placehold.it/200x144' %>
      </div>

      <%= t('site.static.safeguards.content.national_approach.para2.html') %>

      <div class="image pull-left">
        <strong><%= t('site.static.safeguards.content.national_approach.sis_caption') %></strong>
        <%= image_tag 'sis.jpg' %>
      </div>

      <%= t('site.static.safeguards.content.national_approach.para3.html') %>
    </p>
  </article>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => '/shared/links_sidebar' %>
  <h2 class="header margin-top"><%= t('site.sidebar.key_resources.header') %></h2>
    <article>
      <ul>
        <li><%= t('site.sidebar.key_resources.item_4.html') %></li>
        <li><%= t('site.sidebar.key_resources.item_5.html') %></li>
        <li><%= t('site.sidebar.key_resources.item_6.html') %></li>
        <li><%= t('site.sidebar.key_resources.item_7.html') %></li>
        <li><%= t('site.sidebar.key_resources.item_8.html') %></li>
        <li><%= t('site.sidebar.key_resources.item_9.html') %></li>
        <li><%= t('site.sidebar.key_resources.item_10.html') %></li>
        <li><%= t('site.sidebar.key_resources.item_11.html') %></li>
        <li><%= t('site.sidebar.key_resources.item_12.html') %></li>
      </ul>
    </article>
<% end %>

