<% content_for :main do %>
  <h1 class="header">Applying REDD+ Safeguards</h1>
  <article>
  <p>
  The „Cancun Agreements” of the UNFCCC include a list of social and environmental safeguards for REDD+ activities. 
  </p>

  <p>
  Countries are asked to promote and support these Cancun safeguards, and to provide a system of information on how they are being addressed
  </p>

  <p>
  The UN-REDD Programme has developed Social and Enviroal Principles and Criteria (SEPC) as guiding framework consistent with Cancun;
  </p>
  <ol>
    <li>
      To  address social and environmental issues in the UN-REDD National Programmes and other UN-REED founded activities
    </li>
    <li>
      To support countries in developing national approaches to safeguards in line with the UNFCCC
    </li>
  </ol>

  <p>
    To support countries to address social and environmental issues in the UN-REDD National Programmes, UN-REDD has developed tools and guidance to assist countries in the development of their documentation (see right side bar).
    Countries who are developing their national approaches to safeguards, may wish consider introducing discrete activities:
  </p>

  <p>
    Decide on a set of safeguards to apply.
    There are several safeguards sets and related approaches which a country may use to develop its national approach to safeguards, the choice will depend on the multilateral initiatives that the countries are engaged with and their objectives for REDD+.
    All countries who are signatories to the UNFCCC should promote and support the Cancun safeguards, these should therefore form the basis of most countries <%= link_to 'approaches', '' %>.

    UN-REDD countries may apply the <%= link_to 'SEPC', '' %>, which are consistent with the Cancun safeguards, and can be used as a guiding framework to develop a safeguard approach.
    FCPF countries should carry out a Strategic Environmental Sicuak Assessment to incorporate relevant environmental and social considerations.
    Some countries may apply voluntary standards such as the (<%= link_to 'REDD+ SES', '' %>), which promote multistaker holder engagement.
    A description of different initiatives has been carried out by <%= link_to 'Proforest', '' %> and <%= link_to 'Greeenpeace', '' %>.
    Further analysis of how countries might develop a national approach to safeguards or related approaches can be found here.
  </p>

  <p>
  Identify the nationally important social and environmental risks and opportunities.
  These will be dependant on which of the 5 REDD+ activities are being <%= link_to 'implemented', '' %>.
  A tool which can help REDD+ planners working on their REDD+ strategy and national programme documet is the UN-REDD Befefits and <%= link_to 'Risks tool', '' %>.
  This tool will allow countries to think through the multifaceted risks and benefits presented by REDD+, using the SEPC as a guiding framework.
  </p>

  <p>
  Develop a safeguards policy based on existing policies, laws and regulations. 
  A gap analysis of existing regulations and measures against selected safeguards may assist this step.
  The aforementioned <%= link_to 'BeRT tool', '' %> has a specific function to assist with such a gap analysis.
  d) Implementation of appropriate policies, laws and  measures as a comprehensive safeguard framework.
  </p>

  <p>
  View the Multiple Benefits FAQ for Applying REDD+ Safeguards
  </p>
  </article>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => '/shared/sidebar' %>   
<% end %>

