<h2 class="header margin-top"><%= t('site.sidebar.faq.header') %></h2>
<article>
  <ul>
    <li><%= t('site.sidebar.faq.item_1.html') %></li>
    <li><%= t('site.sidebar.faq.item_2.html') %></li>
    <li><%= t('site.sidebar.faq.item_3.html') %></li>
    <li><%= t('site.sidebar.faq.item_8.html') %></li>		
    <li><%= t('site.sidebar.faq.item_4.html') %></li>
    <li><%= t('site.sidebar.faq.item_5.html') %></li>
    <li><%= t('site.sidebar.faq.item_6.html') %></li>
    <li><%= t('site.sidebar.faq.item_7.html') %></li>
  </ul>
</article>