<header>
  <hgroup>
    <h1 id="logo"><a href="/">UN-REDD PROGRAMME</a></h1>
    <h2>The United Nations Collaboration Programme on Reducing Emissions from Deforestation and Forest Degradation in Developing Countries</h2>
  </hgroup>
</header>
<div class="navigation clearfix">
  <nav class="main">
    <ul>
      <li><%= menu_item('Home', root_path, :class => 'first') %></li>
      <li><%= menu_item('Safeguards', safeguards_path) %></li>
      <li><%= menu_item('Mapping and Valuation', mapping_path) %></li>
      <li><%= menu_item('Monitoring', monitoring_path) %></li>
      <li><%= menu_item('Factsheets', factsheets_path) %></li>
      <li><%= menu_item('FAQ', faq_path, :class => 'last') %></li>
    </ul>
  </nav>
  <div class="search sidebar">
    <form action="<%= search_results_path%>" method="get">
      <input type="text" placeholder="Search Resources/Tools" name="search[text]"/>
      <input class="button" type="submit" value="Go!" />
    </form>
  </div>
</div> 
