<header>
  <hgroup>
    <h1 id="logo"><a href="/">UN-REDD PROGRAMME</a></h1>
    <h2><%= t('site.header') %></h2>
  </hgroup>
</header>
<div class="navigation clearfix">
  <nav class="main">
    <ul>
      <li><%= menu_item(t('site.top_menu.home'), root_path, :class => 'first') %></li>
      <li><%= menu_item(t('site.top_menu.safeguards'), safeguards_path) %></li>
      <li><%= menu_item(t('site.top_menu.assessment'), assessment_path) %></li>
      <li><%= menu_item(t('site.top_menu.monitoring'), monitoring_path) %></li>
      <li><%= menu_item(t('site.top_menu.factsheets'), factsheets_path) %></li>
      <li><%= menu_item(t('site.top_menu.faq'), faq_path) %></li>
       <li><%= menu_item(t('site.top_menu.resources'), search_path, :class => 'last') %></li>
    </ul>
  </nav>
  <div class="search sidebar">
    <form action="<%= search_results_path%>" method="get">
      <input type="text" placeholder="Search Resources/Tools" name="search[text]"/>
      <input class="button" type="submit" value="Go!" />
    </form>
  </div>
</div> 
