<h2 class="header"><%= t('site.sidebar.links.header') %></h2>
<article>
  <ul>
    <li><%= t('site.sidebar.links.item_1.html') %></li>
    <li><%= t('site.sidebar.links.item_2.html') %></li>
  </ul>
</article>

<h2 class="header margin-top"><%= t('site.sidebar.key_resources.header') %></h2>
<article>
  <ul>
    <li><%= t('site.sidebar.key_resources.item_1.html') %></li>
  </ul>
</article>

<h2 class="header margin-top"><%= t('site.sidebar.faq.header') %></h2>
<article>
  <ul>
    <li><%= t('site.sidebar.faq.item_1.html') %></li>
    <li><%= t('site.sidebar.faq.item_2.html') %></li>
    <li><%= t('site.sidebar.faq.item_3.html') %></li>
    <li><%= t('site.sidebar.faq.item_4.html') %></li>
    <li><%= t('site.sidebar.faq.item_5.html') %></li>
    <li><%= t('site.sidebar.faq.item_6.html') %></li>
    <li><%= t('site.sidebar.faq.item_7.html') %></li>
  </ul>
</article>
