<div id="main">
  <h1>Social and Environmental Principles and Criteria</h1>
  <p>Here, tools, guidance and other resources are presented for the environmental elements of the UN-REDD Programme’s Social and Environmental Principles and Criteria (<%= link_to "latest draft June 2011", 'http://www.unredd.net/index.php?option=com_docman&task=doc_download&gid=5594&Itemid=53'%>). These consist of 7 broad principles, within which 20 more detailed criteria describe important issues to be considered in developing REDD+ programmes.</p>
  <!-- content -->
  <div id="content">
    <h2 class="heading">Select Principle below to see Criteria and Resources (version 2)</h2>
    <!-- slide-list -->
    <ul class="slide-list">
      <% @principles.each do |principle| %>
        <!-- slide-block -->
        <li id="principle-<%= principle.number %>" class="slide-block">
          <div class="title-box">
            <% if principle.number == 0 %>
              <a class="open" href="#">All Principles</a><span></span>
            <% else %>
              <a class="open" href="#">Principle <%= principle.number %></a><span><%= principle.description %></span>
            <% end %>
          </div>
          <div class="block">
            <!-- container -->
            <div class="container">
              <% principle.criteria.order(:number).each do |criterion| %>
                <!-- box -->
                <div class="box">
                  <% unless criterion.number == 0 %>
                    <h3>Criterion <%= criterion.number %></h3>
                    <p><%= criterion.description %></p>
                  <% end %>
                  <div class="panel">
                    <% resource_count = criterion.resources.count %>
                    <em>
                      There <%= resource_count == 1 ? 'is 1 resource' : "are #{resource_count} resources" %> relating to <%= criterion.number != 0 ? 'this criterion':'all principles' %>.
                      <% if resource_count > 0 %>
                        <%= link_to "Click here", criterion_path(criterion.number), :class => 'click' %> to see them
                      <% end %>
                    </em>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
