<!-- main -->
<div id="main">
  <strong class="heading-help">
    This toolkit is intended to help decision-makers promote and support the UNFCCC safeguards for</br>
    REDD+, focusing on the environmental aspects.
  </strong>
  <p>These pages will host tools, guidance and other resources developed by the UN-REDD Programme, and link to those developed by others. We welcome your comments on this draft version: please contact <%= link_to 'ccb@unep-wcmc.org', 'mailto:ccb@unep-wcmc.org' %></p>
  <!-- content -->
  <div id="content">
    <div class="add-box">
      <strong class="title">REDD+</strong>
      <p>REDD+ stands for “Reducing Emissions from Deforestation and forest Degradation plus the role of conservation, sustainable management of forests and enhancement of forest carbon stocks, in developing countries”. The concept is to create a financial value for the carbon stored in forests, supporting developing countries to reduce emissions from forested lands and invest in low-carbon paths to sustainable development. Financing options are being explored under the United Nations Framework Convention on Climate Change. For further information see <%= link_to 'www.un-redd.org', 'http://www.un-redd.org'%> or the <%= link_to "UNFCCC website", 'http://unfccc.int/2860.php' %>.</p>
      
    </div>
    <div class="add-box">
      <strong class="title">Multiple benefits</strong>
      <p>Multiple benefits are the advantages gained from retaining and restoring forests through REDD+, in addition to the protection and enhancement of carbon stocks that is the primary purpose of REDD+. This website focuses on the ecosystem-based benefits, including:</p>
      <ul class="product-list">
        <li>Soil conservation</li>
        <li>Water regulation</li>
        <li>Conservation of forest biodiversity</li>
        <li>Provision of timber, forest foods and other non-timber forest products</li>
      </ul>
      <p>For further information, see the <%= link_to "Beyond Carbon: Ecosystem-based benefits of REDD+", 'http://www.unredd.net/index.php?option=com_docman&task=doc_download&gid=3193&Itemid=53' %> brochure.</p>
    </div>
    <div class="add-box">
      <strong class="title">Social and Environmental Principles and Criteria (version 3)</strong>
      <p>The UN-REDD Programme is developing a set of <%= link_to "Social and Environmental Principles and Criteria", 'http://www.unredd.net/index.php?option=com_docman&task=cat_view&gid=761&Itemid=53' %> in order to develop tools and guidance to enhance the multiple benefits of and reduce risks from REDD+. The Principles and Criteria are designed to provide the Programme with a framework to promote benefits and reduce risks from REDD+, and can help countries to identify and address issues in: promoting, supporting and building on the Cancun safeguards; providing information on how the Cancun safeguards are being addressed and respected; and demonstrating their achievements beyond carbon (e.g. with respect to poverty alleviation and biodiversity conservation). The September 2011 draft can be accessed <%= link_to 'here', 'http://www.unredd.net/index.php?option=com_docman&task=doc_download&gid=5993&Itemid=53' %>.</p>
    </div>
  </div>
</div>
