<% content_for :main do %>
  <h1 class="header"><%= t('site.factsheets.header') %></h1>
  <article class="wide">
    <p><%= t('site.factsheets.description') %></p>
    <ul class="factsheets">
    <% @factsheets.each do |factsheet| %>
      <li>
        <%= link_to(image_tag('file.png', :alt => factsheet.name), factsheet_path(factsheet), :class => 'file') %>
        <%= link_to factsheet.name, factsheet_path(factsheet) %> 
      </li>
    <% end %>
    </ul>
  </article>
<% end %>

<% content_for :sidebar do %>
   <%= render :partial => '/shared/links_sidebar' %>
<% end %>
