<<% content_for :main do %>
<h1 class="header"><%= @resource.title %></h1>
<article>
  <%= @resource.description %>
</article>
<% end %>

<% content_for :sidebar do %>

    <div><%= image_tag @resource.picture.url(:small), :class => 'resource_image' %></div>
    <dl class="resource_details">
      <dt>Resource</dt>
      <dd>- ? ? -</dd>

      <dt>Author</dt>
      <dd><%= @resource.author %></dd>

      <dt>Publication:</dt>
      <dd><%= @resource.resource_date %></dd>

      <dt>Institution:</dt>
      <dd><%= @resource.institution %></dd>

      <dt>Language: </dt>
      <dd><%= @resource.language %></dd>

      <dt>External link to project:</dt>
      <dd><%= link_to 'External link', @resource.link, :class => 'external_link' %></dd>

      <dt>Level of expertise required: </dt>
      <dd><%= @resource.technical_expertise %></dd>
    </dl>
<% end %>
