
<% content_for :main do %>
  <h1 class="header"><%= @resource.title %></h1>
  <article>
    <h3>Overview</h3>
    <p><%= display_html(@resource.description) %></p>

    <h3>REDD+ relevance</h3>
    <p><%= display_html(@resource.relevance) %></p>

    <h3>REDD+ Activities</h3>
    <p><%= @resource.redd_activities.map(&:name).join(', ') %></p>

    <% if @resource.factsheet %>
      <br><h3>For more information, see the <%= link_to 'Factsheet', factsheet_path(@resource.factsheet) %>.</h3>
    <% end %>

    <%= link_to "< back to results page", :back, :class => "back-link" %>
  </article>
<% end %>

<% content_for :sidebar do %>
  <article class="resource_sidebar"> 
    <div class='sidebar-img-container'>
      <div class='big_container_img'>

        <%= tag :img, :"data-src" => @resource.picture.url(:medium), :class => 'resource_image' %>
      </div>
    </div>
    <dl class="resource_details">
			<dt><%= if @resource.resource_types.blank? then "" else "Resource type:" end  %></dt>
      <dd><%= @resource.resource_types.map(&:name).join(', ') %></dd>

      <dt><%= if @resource.topics.blank? then "" else "Topic:" end  %></dt>
      <dd><%= @resource.topics.map(&:name).join(', ') %></dd>

      <dt><%= if @resource.scales.blank? then "" else "Scale:" end  %></dt>
      <dd><%= @resource.scales.map(&:name).join(',') %></dd>

      <dt><%= if @resource.author.blank? then "" else "Author:" end  %></dt>
      <dd><%= @resource.author %></dd>

      <dt><%= if @resource.resource_date.blank? then "" else "Publication:" end  %></dt>
      <dd><%= @resource.resource_date %></dd>

      <dt><%= if @resource.institution.blank? then "" else "Institution:" end  %></dt>
      <dd><%= @resource.institution %></dd>

      <dt><%= if @resource.languages.blank? then "" else "Language:" end  %></dt>
      <dd><%= @resource.languages.map(&:name).join(', ') %></dd>

      <dt><%= if @resource.link.blank? then "" else "External link:" end  %></dt>
      <dd><%= link_to @resource.link, @resource.link, :class => 'external_link' %></dd>

      <dt><%= if @resource.technical_expertise.blank? then "" else "Level of expertise required:" end  %></dt>
      <dd><%= @resource.technical_expertise %></dd>
    </dl>
  </article>
<% end %>

