
<% content_for :main do %>
  <h1 class="header"><%= @resource.title %></h1>
  <article>
    <h3>Overview</h3>
    <p><%= @resource.description %></p>

    <h3>REDD+ relevance</h3>
    <p><%= @resource.relevance %></p>

    <h3>REDD+ Activities</h3>
    <p><%= @resource.activity %></p>

    <%= link_to "< back to results page", :back, :class => "back-link" %>
  </article>
<% end %>

<% content_for :sidebar do %>
  <article class="resource_sidebar"> 
   <%= image_tag @resource.picture.url(:medium), :class => 'resource_image' %>
    <dl class="resource_details">
      <dt>Resource</dt>
      <dd>- ? ? -</dd>

      <dt>Author</dt>
      <dd><%= @resource.author %></dd>

      <dt>Publication:</dt>
      <dd><%= @resource.resource_date %></dd>

      <dt>Institution:</dt>
      <dd><%= @resource.institution %></dd>

      <dt>Language: </dt>
      <dd><%= @resource.language %></dd>

      <dt>External link to project:</dt>
      <dd><%= link_to 'External link', @resource.link, :class => 'external_link' %></dd>

      <dt>Level of expertise required: </dt>
      <dd><%= @resource.technical_expertise %></dd>
    </dl>
  </article>
<% end %>

