<h1 class="header">Search</h1>

<div class="search-results wide">
  <fieldset>
    <p>
      Here you can search a growing library of resources relevant to multiple benefits and REDD+ safeguards, including software, other tools, guidance documents and information sources.
    </p>
    <p>
      Some of these resources have been developed by the UN-REDD Programme, but most are from a variety of different institutions. Many have potential for use in a REDD+ context, but have not yet been tested or applied in this way.
    </p>
    <p class="line">
      The descriptions of the resources include information on the relevance of the tool in a REDD+ context, among other things. A number of the tools are described in more detail in a <%= link_to 'factsheet', factsheets_path, :class => 'external_link' %>.
    </p>  
    
    <%= simple_form_for @search, :as => :search, :html => {:novalidate => true}, :url => search_results_path, :method => :get do |f| %>

      <%= f.input :text, :label =>  false, :required => false, :placeholder => "Search for the tool or resource", :class => 'clearfix' %> 

      <p> Further refine search by specifying:</p>

      <span class="clearfix">
        <%= f.input :topics, :as => :select,
          :collection => Topic.all, :required => false, :input_html => { :class => 'wide_select' } %>
        <%= f.input :redd_activities, :as => :select,
          :collection => ReddActivity.all, :required => false, :input_html => { :class => 'wide_select' } %>

        <%= f.input :resource_types, :as => :select,
          :collection => ResourceType.all, :required => false, :input_html => { :class => 'narrow_select' } %>
      </span>
      <span class="clearfix">
        <%= f.input :countries, :as => :select,
          :collection => Country.all, :required => false, :input_html => { :class => 'narrow_select' } %>
        <%= f.input :languages, :as => :select,
          :collection => Language.all, :required => false, :input_html => { :class => 'narrow_select' } %>
      </span>

      <%= f.submit 'Search', :class => 'button clearfix' %>

    <% end %>
  </fieldset>

  <% if @search.results %>
    <h2>Search Results</h2>
    <ul class="results">
    <% @search.results.each do |resource| %>
      <li class="clearfix">
        <div class="container_img">
        <%= image_tag resource.picture.url(:thumb), :alt => resource.title %>
        </div>
        <div class="text">
          <div class="title"><%= link_to resource.title, resource_path(resource), :class => 'tooltip' %></div>
          <div class="description"><%= truncate_html display_html(resource.description), :length => 500 %></div>
        </div>
      </li>
    <% end %>
    </ul>
    <%= paginate @search.results %>
  <% end %>
</div>
