<h1 class="header">Search the tools and resources</h1>
<div class="search-results wide">
  <fieldset>
    <%= simple_form_for @search, :as => :search, :html => {:novalidate => true}, :url => search_results_path, :method => :get do |f| %>

      <%= f.input :text, :label =>  false, :required => false, :placeholder => "Search for the tool or resource", :class => 'clearfix' %> 

      <p> Further refine search by specifying:</p>

      <span class="clearfix">
        <%= f.input :theme, :as => :select, :label => 'Topic', 
          :collection => ResourceSearch.themes, :required => false, :input_html => { :class => 'wide_select' } %>

        <%= f.input :activity, :as => :select, :required => false, :input_html => { :class => 'wide_select' } %>

        <%= f.input :resource_type, :label => 'Tool', :as => :select, 
          :collection => ResourceSearch.resource_types, :required => false, :input_html => { :class => 'narrow_select' } %>
      </span>
      <span class="clearfix">
        <%= f.input :technical_expertise, :as => :select, :required => false, :input_html => { :class => 'wide_select' } %>
        <%= f.input :country, :as => :select, :required => false, :input_html => { :class => 'narrow_select' } %>
        <%= f.input :language, :as => :select,
          :collection => ResourceSearch.languages, :required => false, :input_html => { :class => 'narrow_select' } %>
      </span>

      <%= f.submit 'Search', :class => 'button clearfix' %>

    <% end %>
  </fieldset>

  <% if @search.results %>
    <h2>Search Results</h2>
    <ul class="results">
    <% @search.results.each do |resource| %>
      <li class="clearfix">
        <%= image_tag resource.picture.url(:thumb), :alt => resource.title %>
        <div class="text">
          <div class="title"><%= link_to resource.title, resource_path(resource) %></div>
          <div class="description"><%= resource.description %></div>
        </div>
      </li>
    <% end %>
    </ul>
    <%= paginate @search.results %>
  <% end %>
</div>
