<h1 class="header">Search the tools and resources</h1>

<div class="search-results wide">
  <fieldset>
    <p>
      Here you can search a database with descriptions of nearly 100 different resources relevant to multiple benefits and safeguards under REDD+, including softwares, other tools, guidances and information sources. The descriptions include information on the relevance of the tool in a REDD+ context, among other things. About 30 of the tools are described in more detail in a <%= link_to 'factsheet', factsheets_path %>.
    </p>  
    
    <%= simple_form_for @search, :as => :search, :html => {:novalidate => true}, :url => search_results_path, :method => :get do |f| %>

      <%= f.input :text, :label =>  false, :required => false, :placeholder => "Search for the tool or resource", :class => 'clearfix' %> 

      <p> Further refine search by specifying:</p>

      <span class="clearfix">
        <%= f.input :topics, :as => :select, :label => 'Topic', 
          :collection => Topic.all, :required => false, :input_html => { :class => 'wide_select tool' } %>

        <%= f.input :redd_activities, :as => :select,
          :collection => ReddActivity.all, :required => false, :input_html => { :class => 'wide_select' } %>

        <%= f.input :resource_types, :label => 'Tool', :as => :select, 
          :collection => ResourceType.all, :required => false, :input_html => { :class => 'narrow_select' } %>
      </span>
      <span class="clearfix">
        <%= f.input :countries, :as => :select,
          :collection => Country.all, :required => false, :input_html => { :class => 'narrow_select' } %>
        <%= f.input :languages, :as => :select,
          :collection => Language.all, :required => false, :input_html => { :class => 'narrow_select' } %>
      </span>

      <%= f.submit 'Search', :class => 'button clearfix' %>

    <% end %>
  </fieldset>

  <% if @search.results %>
    <h2>Search Results</h2>
    <ul class="results">
    <% @search.results.each do |resource| %>
      <li class="clearfix">
        <div class="container_img">
        <%= image_tag resource.picture.url(:thumb), :alt => resource.title %>
        </div>
        <div class="text">
          <div class="title"><%= link_to resource.title, resource_path(resource), :class => 'tooltip' %></div>
          <div class="description"><%= resource.description %></div>
        </div>
      </li>
    <% end %>
    </ul>
    <%= paginate @search.results %>
  <% end %>
</div>
