<!DOCTYPE html>
<html>
  <head>
    <title>Urmp</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :all %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <!-- wrapper -->
    <div id="wrapper">
      <!-- nav -->
      <ul id="nav">
        <li><a href="#">About</a></li>
        <li class="active"><%= link_to 'Principles', principles_path %></li>
      </ul>
      <!-- main -->
      <%= yield %>
    </div>
</body>
</html>
