<!DOCTYPE html>
<html>
<head>
  <title>Pilot Toolkit for Multiple Benefits – draft version</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container">
    <%= render :partial => 'shared/header' %>

    <!-- Two column layout -->
    <% if content_for?(:main) %>
    <%= yield(:main) %>
    <% end %>

    <% if content_for?(:sidbar) %>
    <%= yield(:sidebar) %>
    <% end %>

    <!-- One column layout -->
    <%= yield %>
  
    <%= render :partial => 'shared/footer' %>
  </div>
</body>
</html>
