<!DOCTYPE html>
<html>
  <head>
    <title>Urmp</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :all %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <!-- wrapper -->
    <div id="wrapper">
      <!-- nav -->
      <ul id="nav">
        <li <%= "class='active'" if controller.controller_name == 'static' %>><%= link_to 'About', static_about_path %></li>
        <li <%= "class='active'" if controller.controller_name == 'principles' %>><%= link_to 'Principles', principles_path %></li>
      </ul>
      <!-- main -->
      <%= yield %>
    </div>
</body>
</html>
