<!DOCTYPE html>
<html>
<head>
  <title>Urmp</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <!-- wrapper -->
  <div id="wrapper">
    <!-- nav -->
    <ul id="nav">
      <li><a href="#">About</a></li>
      <li class="active"><%= link_to 'Principles', principles_path %></li>
    </ul>
    <!-- main -->
    <div id="main">
      <h1>Social and Environmental Principles and Criteria</h1>
      <p>Here, relevant tools and resources are presented for the environmental elements of the UN-REDD Programme’s Social and Environmental Principles and Criteria  (latest draft June 2011).</p>
      <!-- content -->
      <div id="content">
        <h2 class="heading">All Principles</h2>
        <!-- slide-list -->
        <ul class="slide-list">
          <!-- slide-block -->
          <li class="slide-block">
          <div class="title-box">
            <a class="open" href="#">Principle 1</a><span>Comply with standards of democratic governance</span>
          </div>
          <div class="block"></div>
          </li>
          <!-- slide-block -->
          <li class="slide-block">
          <div class="title-box">
            <a class="open" href="#">Principle 2</a><span>Respect and protect stakeholder rights</span>
          </div>
          <div class="block"></div>
          </li>
          <!-- slide-block -->
          <li class="slide-block">
          <div class="title-box">
            <a class="open" href="#">Principle 3</a><span>Promote and enhance sustainable livelihoods</span>
          </div>
          <div class="block"></div>
          </li>
          <!-- slide-block -->
          <li class="slide-block">
          <div class="title-box">
            <a class="open" href="#">Principle 4</a><span>Contribute to coherent low-carbon, climate-resilient and environmentally sound development policy, consistent with commitments under international conventions and agreements</span>
          </div>
          <div class="block"></div>
          </li>
          <!-- slide-block active -->
          <li class="slide-block active">
          <div class="title-box">
            <a class="open" href="#">Principle 5</a><span>Protect natural forest from degradation or conversion to other land uses, including plantation forest</span>
          </div>
          <div class="block">
            <!-- container -->
            <div class="container">
              <!-- box -->
              <div class="box">
                <h3>Criterion 14</h3>
                <p>Ensure that REDD+ activities do not cause the conversion of natural forest to other land uses, including plantation forest, and make reducing conversion due to other causes (e.g. agriculture, timber and fuelwood extraction, infrastructure development) a REDD+ priority</p>
                <div class="panel">
                  <em>There are 3 documents relating to this criteria, <a class="click" href="#">CLICK HERE</a> to see them</em>
                </div>
              </div>
              <div class="box">
                <h3>Criterion 15</h3>
                <p> Minimise degradation of natural forest by REDD+ activities and make reducing degradation due to other causes (e.g. agriculture, timber and fuelwood extraction, infrastructure development) a REDD+ priority </p>
                <div class="panel">
                  <em>There are 3 documents relating to this criteria, <a class="click" href="#">CLICK HERE</a> to see them</em>
                </div>
              </div>
              <ul class="topic-list">									<li>
                <h4>1. Monitoring for REDD +: carbon stock change and multiple benefits</h4>
                <span class="authors"><span>Authors:</span> Lorem ipsum dolor sit amet, consetetur sadipscing elitr,</span>
                <ul class="item-list">
                  <li>Publication date: <span>Oct 2011</span></li>
                  <li>Institution: <span>UNEP-WCMC</span></li>
                </ul>
                <div class="section">
                  <p>The document outlines procedural steps for operationalising the UNFCCC biodiversity-related safeguards for<br /> REDD+. <strong>Section 2.1 (p4-5)</strong>: This section provides basic information about how carbon stock changes are monitored in order to report to the UNFCCC.</p>
                  <div class="row">
                    <ul class="ico-list">													<li><a class="un-reed" href="#">un-reed</a></li>													<li><a class="resource" href="#">Resource</a></li>												</ul>
                    <a class="download" href="#">download</a>
                  </div>
                </div>
                </li>									<li>
                <h4>2. Monitoring for REDD +: carbon stock change and multiple benefits</h4>
                <span class="authors"><span>Authors:</span> Lorem ipsum dolor sit amet, consetetur sadipscing elitr,</span>
                <ul class="item-list">
                  <li>Publication date: <span>Oct 2011</span></li>
                  <li>Institution: <span>UNEP-WCMC</span></li>
                </ul>
                <div class="section">
                  <p>The document outlines procedural steps for operationalising the UNFCCC biodiversity-related safeguards for<br /> REDD+. <strong>Section 2.1 (p4-5)</strong>: This section provides basic information about how carbon stock changes are monitored in order to report to the UNFCCC.</p>
                  <div class="row">
                    <ul class="ico-list">
                      <li><a class="un-reed" href="#">un-reed</a></li>
                      <li><a class="tool" href="#">tool</a></li>
                    </ul>
                    <a class="download" href="#">download</a>
                  </div>
                </div>
                </li>									<li>
                <h4>2. Monitoring for REDD +: carbon stock change and multiple benefits</h4>
                <span class="authors"><span>Authors:</span> Lorem ipsum dolor sit amet, consetetur sadipscing elitr,</span>
                <ul class="item-list">
                  <li>Publication date: <span>Oct 2011</span></li>
                  <li>Institution: <span>UNEP-WCMC</span></li>
                </ul>
                <div class="section">
                  <p>The document outlines procedural steps for operationalising the UNFCCC biodiversity-related safeguards for<br /> REDD+. <strong>Section 2.1 (p4-5)</strong>: This section provides basic information about how carbon stock changes are monitored in order to report to the UNFCCC.</p>
                  <div class="row">
                    <ul class="ico-list">
                      <li><a class="guidance" href="#">Guidance</a></li>
                    </ul>
                    <a class="download" href="#">download</a>
                  </div>
                </div>
                </li>								</ul>
                <a class="close" href="#">close</a>
              </div>
            </div>
            </li>
            <!-- slide-block -->					<li class="slide-block">
            <div class="title-box">
              <a class="open" href="#">Principle 6</a><span>Maintain and enhance multiple functions of forest to deliver benefits including biodiversity conservation and ecosystem services</span>
            </div>
            <div class="block"></div>
            </li>
            <!-- slide-block -->					<li class="slide-block">
            <div class="title-box">
              <a class="open" href="#">Principle 7</a><span>Minimise indirect adverse impacts on ecosystem services and biodiversity</span>
            </div>
            <div class="block"></div>
            </li>				</ul>
          </div>
        </div>
      </div>

<%= yield %>

</body>
</html>
