<!DOCTYPE html>
<html>
<head>
  <title>Pilot Toolkit for Multiple Benefits – draft version</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container">
    <%= render :partial => 'shared/header' %>
    <div class="content clearfix">
      <!-- Two column layout -->
      <% if content_for?(:main) %>
      <section class="main">
        <%= yield(:main) %>
      </section>
      <% end %>

      <% if content_for?(:sidebar) %>
      <aside class="sidebar">
        <%= yield(:sidebar) %>
      </aside>
      <% end %>

      <!-- One column layout -->
      <div class="one-col">
        <%= yield %>
      </div>
    </div>
    <%= render :partial => 'shared/footer' %>
  </div>
</body>
</html>
